.container{
	max-width: 1000px;
	margin: 12rem auto;
}


  p {
	font-size: clamp(0.7rem, 5vw, 1rem);
	text-align: left;
	max-width: 35rem;
	line-height: 2.3rem;
	color: white;
	text-align: center;
	margin: 0 auto;
  }

  @media (max-width: 1024px) {
	p {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
	}
  }
	
